/* sidebar widgets */

.widget h3,
.wttitle h4 a {
	font-family: Roboto, sans-serif;
	font-style: unset;
}

.sidebar .widget h3::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 20px;
	bottom: 7px;
	right: 50%;
	transform: translateX(50%);
	top: auto;
}

.about-widget__text {
	color: #333;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: unset;
}

/* blog posts */

.content.blog h2.title,
.content.singledefult h1.title,
.content.singledefault h1.title {
	font-family: Roboto, sans-serif;
	font-style: unset;
}

.blog .entry,
.blogpost .entry {
	font-family: "Open Sans", sans-serif;
}

/* pages */

.page h1 {
	font-family: Roboto, sans-serif;
	font-style: unset;
}

.usercontent {
	font-family: "Open Sans", sans-serif;
}

/* forms */

.wpcf7-quiz-label {
	color: #333;
}

/* footer */

.copyright .left-footer-content:nth-of-type(2) {
	text-align: right;
	@media screen and (max-width: 620px) and (min-width: 0) {
		text-align: center;
	}
}
